@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 class="display-4">Welcome</h4>
    <p>Greetings in the name of the Lord, Yeshua the Christ. You can register below</p>
</div>